@font-face {
	font-family: "frontendler-icons";
	src: url('../icons/frontendler-icons.eot');
	src: url('../icons/frontendler-icons.eot?#iefix') format('eot'),
		url('../icons/frontendler-icons.woff') format('woff'),
		url('../icons/frontendler-icons.ttf') format('truetype'),
		url('../icons/frontendler-icons.svg#frontendler-icons') format('svg');
}

%icon {
	font-family: "frontendler-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == home-browser {
		$char: "\E001";
	}
	@if $filename == home-grid {
		$char: "\E002";
	}
	@if $filename == home-gulp {
		$char: "\E003";
	}
	@if $filename == home-reset {
		$char: "\E004";
	}
	@if $filename == home-sass {
		$char: "\E005";
	}
	@if $filename == home-theme {
		$char: "\E006";
	}
	@if $filename == sass {
		$char: "\E007";
	}
	@if $filename == teste {
		$char: "\E008";
	}

	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@extend %icon;
		content: icon-char($filename);
	}
}
@mixin icon-classes (){
	.icon-home-browser {
		@include icon(home-browser);
	}
	.icon-home-grid {
		@include icon(home-grid);
	}
	.icon-home-gulp {
		@include icon(home-gulp);
	}
	.icon-home-reset {
		@include icon(home-reset);
	}
	.icon-home-sass {
		@include icon(home-sass);
	}
	.icon-home-theme {
		@include icon(home-theme);
	}
	.icon-sass {
		@include icon(sass);
	}
	.icon-teste {
		@include icon(teste);
	}
		
}