extends /_layouts/_home
block content
	header
		div.container
			div.info
				h1 Frontendler<small>Beta</small>
				h2 The responsive development kit.
				h3 Simple and efficient.
				div.buttons
					a.btn.documentation(href="/docs") Documentation
					a.btn.github(href="https://github.com/frontendler/frontendler") Github
	section.release
		div.container
			|current version: 
			span.version v2.0.0
	section.about
		div.container
			div.item
				img(src="/assets/images/home-sass.svg")
				h4 SASS
				p Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
			div.item
				img(src="/assets/images/home-theme.svg")
				h4 Colors
				p Control your color palette in an organized manner and get their colors through amount.
			div.item
				img(src="/assets/images/home-grid.svg")
				h4 Grid
				p.
					The frontendler responsive SASS semantic grid.
					Use a few lines to make a complex responive layout.
			div.item
				img(src="/assets/images/home-gulp.svg")
				h4 Gulp
				p By preferring code over configuration, gulp keeps simple things simple and makes complex tasks manageable.
			div.item
				img(src="/assets/images/home-browser.svg")
				h4 Browser Sync
				p Makes your browser testing workflow faster by synchronising URLs, interactions and code changes across multiple devices.
			div.item
				img(src="/assets/images/home-reset.svg")
				h4 Reset
				p.
					A modern, dinamic, HTML5-ready alternative to CSS resets.
					Focusing on little code as possible.
