extends /_layouts/_docs
block link
	-var selected = 'Sass';
block sidebar
	include /_includes/_docs_sidebar_sass
block content
	div.content
		article.grid
			+title("Setup")
			div.container
				+command-block()
					+command-name("Import","import")
					+command-description().
						First you need to import frontendler sass library.
					+command-code("scss")
						|@import "frontendler/frontendler";
			div.container
				+command-block()
					+command-name("Settings","settings")
					+command-description().
						Frontendler have a settings file with default values:
					+command-code("scss").
						//-----------------------------------------------------------
						//FONT
						//-----------------------------------------------------------
						$font-family: "Open Sans" !default;
						$font-size-text: 14px !default;
						
						//-----------------------------------------------------------
						//ANIMATION
						//-----------------------------------------------------------
						$animation-duration: 0.25s !default;
						$animation-ease: (
							"in-out-quad": cubic-bezier(0.455, 0.030, 0.515, 0.955),
							"in-out-cubic": cubic-bezier(0.645, 0.045, 0.355, 1.000),
							"in-out-quart": cubic-bezier(0.770, 0.000, 0.175, 1.000),
							"in-out-quint": cubic-bezier(0.860, 0.000, 0.070, 1.000),
							"in-out-sine": cubic-bezier(0.445, 0.050, 0.550, 0.950),
							"in-out-expo": cubic-bezier(1.000, 0.000, 0.000, 1.000),
							"in-out-circ": cubic-bezier(0.785, 0.135, 0.150, 0.860),
						) !default;
						$animation-keyframes:(
							"fade-in",
							"fade-out",
							"bounce-in-down",
							"bounce-in-up",
							"rubber-band",
							"zoom-in",
							"slide-in-up",
							"slide-in-down",
							"alert"
						) !default;
						
						//-----------------------------------------------------------
						//GRID
						//-----------------------------------------------------------
						$grid-gutter: 40px !default;
						$grid-gutter-outside: 5px !default;
						$grid-breakpoints:(
							"small":   100% max 640px,
							"medium":  100% min 641px max 1024px,
							"large":   1024px min 1025px max 1440px,
							"xlarge":  1440px min 1441px max 1920px,
							"xxlarge": 1920px min 1921px
						) !default;
						
						//-----------------------------------------------------------
						//COLOR
						//-----------------------------------------------------------
						$colors:(
							"ocean":   #00a7ca,
							"blue":    #0075d3,
							"purple":  #8244a7,
							"pink":    #dd318a,
							"green":   #71be48,
							"yellow":  #f59d37,
							"orange":  #f75925,
							"red":     #dd202b,
							"dark":    #1c2731,
							"gray":    #606c78,
							"silver":  #939fac
						) !default;
					+command-description().
						But you can customize these settings in your own settings file or other sass file like this:
					+command-code("scss").
						//-----------------------------------------------------------
						//FONT
						//-----------------------------------------------------------
						$font-family: "Arial";
						$font-size-text: 15px;	
						
						//-----------------------------------------------------------
						//COLOR
						//-----------------------------------------------------------
						$colors:(
							"background":    #0075d3,
							"text":    #1c2731
						);
						
						//-----------------------------------------------------------
						//ANIMATION
						//-----------------------------------------------------------
						$animation-keyframes:(
							"fade-in",
							"fade-out",
						) !default;
			div.container
				+command-block()
					+command-name("Reset","reset")
					+command-description().
						After your settings, include reset css for normalize your styles with the settings values.
					+command-code("scss")
						|@include reset();
			+title("Grid")
			div.container
				div.exemple-grid
					|document
					div.viewport
						|row
						div.row
							div.col
								div.line
									|column
							div.col
								div.line
									|column
							div.col
								div.line
									|column
							div.col
								div.line
									|column
				+command("grid-gutter","scss","grid-gutter").
					$grid-gutter: 40px;
				+command("grid-gutter-outside","scss","grid-gutter-outside").
					$grid-gutter-outer: 5px;
				+command("grid-breakpoints","scss","grid-breakpoints").
					$grid-breakpoints:(
					    "small":   100% max 640px,
					    "medium":  100% min 641px max 1024px,
					    "large":   1024px min 1025px max 1440px,
					    "xlarge":  1440px min 1441px max 1920px,
					    "xxlarge": 1920px min 1921px
					) !default;
				+command("grid-row","scss","grid-row").
					@include grid-row($gutter: $grid-gutter-outside, $breakpoints: $grid-breakpoints);
				+command("grid-column","scss","grid-column").
					@include grid-column($column, $columns: 12, $gutter: $grid-gutter);
				+command("grid-column-breakpoint","scss","grid-column-breakpoint").
					@include grid-column-breakpoint($device, $column, $columns: 12, $gutter: false)
					or
					@include grid-column-breakpoint($device, $column, $columns: 12, $gutter: false){
						...
					};
				+command("grid-column-breakpoint-custom","scss","grid-column-breakpoint-custom").
					@include grid-column-breakpoint-custom($min-width, $max-width, $column, $columns: 12, $gutter: false)
					or
					@include grid-column-breakpoint-custom($min-width, $max-width, $column, $columns: 12, $gutter: false){
						...
					};
				+command("grid-breakpoint","scss","grid-breakpoint").
					@include grid-breakpoint($devices...){
						...
					};
				+command("grid-breakpoint-custom","scss","grid-breakpoint-custom").
					@include grid-breakpoint-custom($min-width, $max-width){
						...
					};
				+command("grid-breakpoint-hide","scss","grid-breakpoint-hide").
					@include grid-breakpoint-hide($devices...);
				+command("grid-breakpoint-show","scss","grid-breakpoint-show").
					@include grid-breakpoint-show($devices...);
		article.color
			+title("Color")
			div.container
				+command("colors","scss","colors").
					$colors:(
					    ocean:   #00a7ca,
					    blue:    #0075d3,
					    purple:  #8244a7,
					    pink:    #dd318a,
					    green:   #71be48,
					    yellow:  #f59d37,
					    orange:  #f75925,
					    red:     #dd202b,
					    dark:    #1c2731,
					    gray:    #606c78,
					    silver:  #939fac
					);
				+command("color","scss","color").
					color ($color-name, $amount:50%);
		article.animation
			+title("Animation")
			div.container
				+command("animation-duration","scss","animation-duration").
					$animation-duration: 0.25s !default;
				+command("animation-ease","scss","animation-ease").
					$animation-ease: (
						"in-out-quad": cubic-bezier(0.455, 0.030, 0.515, 0.955),
						"in-out-cubic": cubic-bezier(0.645, 0.045, 0.355, 1.000),
						"in-out-quart": cubic-bezier(0.770, 0.000, 0.175, 1.000),
						"in-out-quint": cubic-bezier(0.860, 0.000, 0.070, 1.000),
						"in-out-sine": cubic-bezier(0.445, 0.050, 0.550, 0.950),
						"in-out-expo": cubic-bezier(1.000, 0.000, 0.000, 1.000),
						"in-out-circ": cubic-bezier(0.785, 0.135, 0.150, 0.860),
					) !default;
				+command("animation-keyframes","scss","animation-keyframes").
					$animation-keyframes:(
						"fade-in",
						"fade-out",
						"bounce-in-down",
						"bounce-in-up",
						"rubber-band",
						"zoom-in",
						"slide-in-up",
						"slide-in-down",
						"alert"
					) !default;
				+command("animation-ease","scss","animation-ease").
					animation-ease ($name);
		article.utils
			+title("Utils")
			div.container
				+command("clearfix","scss","clearfix").
					@include clearfix();
				+command("box-shadow","scss","box-shadow").
					@include box-shadow($level);
					
