//------------------------------------------------------
// IMPORTS
//------------------------------------------------------
@import "frontendler/core";
@import "libs/prism";
@import "docs/settings";
@import "docs/top";
@import "docs/navbar";
@import "docs/sidebar";

//------------------------------------------------------
//RESET
//------------------------------------------------------
@include reset();

//------------------------------------------------------
//  MAIN
//------------------------------------------------------
.docs-main {
    @include grid-row(false);
    background: #ecf0f1;
}
//------------------------------------------------------
//  CONTENT
//------------------------------------------------------
.docs-content {
    @include grid-column-breakpoint("small", 12, 12);
    @include grid-column-breakpoint("medium", 12, 12);
    @include grid-column-breakpoint("xlarge", 10, 12);
    @include grid-column-breakpoint("xxlarge", 10, 12);
    float: left;
    vertical-align: top;
    padding-bottom: $grid-gutter;
    background:#fff;
}
//------------------------------------------------------
//  BOTTOM
//------------------------------------------------------
.docs-bottom {
    @include grid-breakpoint-hide("medium");
    .container {
        @include grid-row(false);
    }
    background: color("dark");
    color: #fff;
    padding: 15px 0;
}

//------------------------------------------------------
//  TITLE
//------------------------------------------------------
h2.docs-title {
    @include grid-column(12, 12);
    margin: $grid-gutter / 2 0 0 0;
    span {
        display: inline-block;
        padding: 10px 0 30px 0;
        margin: -1px 0 0 0;
        border-top: 4px solid color("ocean");
        color: color("dark");
    }
    hr {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        border-top: 1px solid #ddd;
    }
}
h3.docs-subtitle{
    display: block;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00a7ca;
    .name{
        font-size: inherit;
    }
}
//------------------------------------------------------
//  ARTICLE
//------------------------------------------------------
article{
    margin-bottom: $grid-gutter * 2;
    display: block;
}

//------------------------------------------------------
//  BOX CODE
//------------------------------------------------------

pre {
	white-space: nowrap;
}

code {
	white-space: pre-wrap;
	font-size: $font-size-text - 2px;
	font-weight: 600;
}

pre.box-code{
    code {
        border-radius: 5px;
        font-family: 'Source Sans Pro';
        letter-spacing: 0.035em;
        white-space: pre-line;
        padding: 10px;
        overflow: auto;
        border: 1px solid #dddddd;
        background:#fff;
        color:#606c78;
        display:block;
        font-size:13px;

        a{
            color:color("ocean");
            font-size:inherit;
        }
    }
}

//------------------------------------------------------
//  COMMAND BLOCK
//------------------------------------------------------

.command-block{
    @include grid-column(12);
    .command-name{
        font-weight: 600;
        font-size: 18px;
        .name{
            font-size: inherit;
            color: color("gray");
            cursor: default;
        }
    }
    .box-code{
        margin:$grid-gutter/2 0;
        margin-bottom: $grid-gutter;
    }
}

//------------------------------------------------------
//  FOOTER
//------------------------------------------------------

footer {
    .container {
        @include grid-row();
        @include grid-column(12);
    }
    background: color("dark");
    color: #fff;
    padding: 15px 0;

    .logo {
        .url{
            font-family:$font-family-logo;
            font-size:30px;
            margin-right:20px;
            color:#fff;
            @include grid-breakpoint("small") {
                margin-right:10px;
            }
        }
    }
    .link,.me{
        color:color("ocean",20%);

    }
    .me{
        margin-right:20px;
    }
    .link{
        margin:0 20px;
        font-weight:600;
        @include grid-breakpoint("small") {
            margin:0 8px;
        }
    }

}


//------------------------------------------------------
//  GRID ANIMATION
//------------------------------------------------------

@-webkit-keyframes exemplegrid {
    from {opacity: 0;transform:translateY(30px);}
    to {opacity: 1;transform:translateY(0px);}
}

.exemple-grid{
    @include grid-column(12);
    margin-bottom:$grid-gutter;
    opacity:0;
    animation: exemplegrid $animation-duration*3;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    .viewport{
        @include grid-column(12);
        border:1px dashed color("silver",20%);;
        min-height:100px;
        color:color("ocean");
        padding-top: 10px;
        padding-bottom:20px;
        border-radius:3px;
        margin-top:5px;
        font-weight:600;
        opacity:0;
        animation: exemplegrid $animation-duration*3;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        .row{
            @include grid-column(12,12,false);
            border:1px solid color("ocean",20%);
            height:100%;
            margin-top:5px;
            padding-top:20px;
            padding-bottom:20px;
            border-radius:3px;
            opacity:0;
            animation: exemplegrid $animation-duration*3;
            animation-delay: 2.5s;
            animation-fill-mode: forwards;
            .col {
                @include grid-column(3,12);
                @include grid-column-breakpoint("small",12,12);
                @include grid-column-breakpoint("medium",6,12);
                @include grid-breakpoint("small","medium")
                {
                    margin-bottom:$grid-gutter/4;
                    margin-top:$grid-gutter/4;
                }
                height:100%;
                opacity:0;
                animation: exemplegrid $animation-duration*3;
                animation-delay: 3.5s;
                animation-fill-mode: forwards;
                .line{
                    border:1px solid color("ocean");
                    height:100%;
                    border-radius:3px;
                    border-radius:3px;
                    display:block;
                    text-align:center;
                    padding:10px 0;
                }
            }
        }
    }
}
