//------------------------------------------------------
// IMPORTS
//------------------------------------------------------
@import "frontendler";
@import "home/settings";
@import "home/animations";

//------------------------------------------------------
//RESET
//------------------------------------------------------
@include reset();


//------------------------------------------------------
//GLOBAL
//------------------------------------------------------

html{
    color:color("dark");
}

p{
    color:color("gray");
}

//------------------------------------------------------
//HEADER
//------------------------------------------------------
header {
    @extend %clearfix;
    position: relative;
    background: color("dark");
    position: relative;
    .container {
        @include grid-row;
        padding-top: 80px;
        padding-bottom: 70px;
    }

    h1,
    h2,
    h3 {
        opacity: 0;
        animation: headerstart $animation-duration*2 both;
    }
    h1 {
        animation-delay: 0.1s;
    }
    h2 {
        animation-delay: 0.5s;
    }
    h3 {
        animation-delay: 0.6s;
    }


    .btn{

    }
    .documentation,
    .github {
        opacity: 0;
        animation: headerbuttonstart $animation-duration*2;
        animation-fill-mode: both;
        strong{
            font-weight: bold;
        }
    }
    .documentation {
        animation-delay: 1.5s;
        background:color("ocean");
        color:color("ocean",20%);
    }
    .github {
        animation-delay: 2s;
        background:color("blue");
        color:color("blue",20%);
    }
}
h1 {
    font-size: 120px;
    color: #fff;
    font-family: $font-family-logo;
    margin: 0;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    small {
        color: #b0c3d4;
        font-family: $font-family;
        font-size: 15px;
        margin-left: 20px;
        font-weight: normal;
        @include grid-breakpoint("xsmall") {
            display: block;
        }
    }
}
h2 {
    color: color("sky");
    margin: 10px 0;
}
h3 {
    margin-bottom: 30px;
    color: color("sky");
}
@include grid-breakpoint("xsmall", "small") {
    h1 {
        font-size: 70px;
        line-height: 40px;
    }
    h2 {
        font-size: 17px;
    }
    h3 {
        font-size: 15px;
    }
}
.info {
    @include grid-column(12, 12);
}
.btn {
    border-radius: 3px;
    transition: background-color $animation-duration, color $animation-duration;
    box-sizing: border-box;
    display: inline-block;
    padding: $grid-gutter/4 $grid-gutter/2;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-right: 10px;
    .documentation {
        background-color: color("ocean");
        color: color("ocean",20%);
    }
    .github {
        background-color: color("blue");
        color: color("blue",20%);
    }
}
.label {
    border-radius: 3px;
    display: inline-block;
    padding: 1px 8px 4px;
    font-size: $font-size - 1;
    line-height: inherit;
    font-weight: 600;
}

//------------------------------------------------------
//RELEASES
//------------------------------------------------------
.release{
    background: color("dark",60%);

    .container{
        @include grid-row();
        @include grid-column(1,1);
        padding-top:15px;
        padding-bottom:15px;
        color: color("sky");
        font-size:13px;
        font-weight: 600;
        opacity: 0.7;
    }

}
//------------------------------------------------------
//ABOUT
//------------------------------------------------------
.about {
    margin: $grid-gutter 0;
    min-height: 100vh;
    .container {
        @include grid-row;
    }
    .item {
        @include grid-column(4);
        @include grid-column-breakpoint("xsmall",12);
        @include grid-column-breakpoint("small",6);
        margin: $grid-gutter 0;
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
            @include grid-breakpoint("xsmall") {
                width: 80%;
            }
        }
        h4 {
            display: block;
            text-align: center;
            font-size: 20px;
            margin: 10px 0 0;
        }
        p {
            height: 80px;
            margin-top: 10px;
            @include grid-breakpoint("xsmall", "small", "medium") {
                text-align: center;
            }
            @include grid-breakpoint("xsmall") {
                height: auto;
            }
        }
    }
}
footer {
    .container {
        @include grid-row();
        @include grid-column(12);
    }
    background: color("dark");
    color: #fff;
    padding: 15px 0;
    .logo {
        .url {
            font-family: $font-family-logo;
            font-size: 30px;
            margin-right: 20px;
            color: #fff;
            @include grid-breakpoint("xsmall") {
                margin-right: 10px;
            }
        }
    }
    .link,
    .me {
        color: color("ocean",20%);
    }
    .me {
        margin-right: 20px;
    }
    .link {
        transition: color $animation-duration;
        margin: 0 20px;
        font-weight: 600;
        @include grid-breakpoint("xsmall") {
            margin: 0 8px;
        }
        &:hover {
            color: color("ocean",10%);
        }
    }
}
