//-----------------------------------------------------
// FONT
//-----------------------------------------------------
$font-family-logo: "Grand Hotel";
//-----------------------------------------------------
// GRID
//-----------------------------------------------------
$grid-breakpoints:(
	phone: 100% max 480px,
	tablet: 100% min 481px max 1023px,
	desktop: 100% min 1024px max 1200px,
	desktop-large: 100% min 1200px
);
