//------------------------------------------------------
//  SIDEBAR
//------------------------------------------------------
.docs-sidebar {
	@include grid-column(3, 12);
	@include grid-breakpoint-hide("small");
	@include grid-breakpoint-hide("medium");
    @include grid-column-breakpoint("xlarge", 2, 12);
    @include grid-column-breakpoint("xxlarge", 2, 12);
	vertical-align: top;
	padding-top: $grid-gutter / 2;
	padding-bottom: $grid-gutter / 2;
	// background-color: ;

	.tree {
		@include grid-column(3, 12, 0);
		width: 100%;
		.group {
			width: 100%;
			&.open {
				.title,.title:hover {
					&:after {
						content: "+";
					}
				}
			}
			.title {
				display: block;
				color: transparentize(color("dark"), 0.3);
				font-weight: 600;
				padding: 2px 0;
				font-size:17px;
				&:after {
					border-radius:3px;
					margin-left: 5px;
				}
				&:hover {
					&:after {
						content: "-";
					}
				}
			}
			.itens {
				display: block;
				margin-bottom:$grid-gutter/2;
				list-style: none;
				.item {
					.link {
						color: transparentize(color("dark"), 0.7);
						font-weight: 600;
						padding-left: $grid-gutter / 4;
						font-size: 14px;
						padding: 2px 10px;
						font-size: 13px;
						&:hover {
							color: color("ocean");
						}
					}
				}
			}
		}
	}
}
