//------------------------------------------------------
//  TOP
//------------------------------------------------------
.docs-top {
	background-color: theme-color(dark);
	padding: 3px 0;
	.container {
		@include grid-row(false);
		.logo {
			@include grid-col(12, 12);
			h1 {
				display: inline;
				color: #fff;
				font-family: $font-family-logo;
				font-size: 35px;
			}
			small {
				font-family: $font-family;
				font-size: 15px;
				margin-left: 10px;
				font-weight: 600;
				color: theme-color("ocean",20%);
			}
		}
		.bt-menu{
			display:none;
			// @include grid-breakpoint-hide(desktop);
			// @include grid-breakpoint-hide(desktop-large);
			border-radius:3px;
			position: absolute;
			top:10px;
			right:10px;
			background: theme-color("dark",45%);
			color: #72797f;
			font-weight: 600;
			padding:5px 10px;
			cursor: pointer;
		}
	}
}
