extends /_layouts/_docs
block link
	-var selected = 'Core';
block sidebar
	include /_includes/_docs_sidebar_core
block content
	article.grid
		+title("Grid")
		div.container

			div.exemple-grid
				|document
				div.viewport
					|row
					div.row
						div.col
							div.line
								|col
						div.col
							div.line
								|col
						div.col
							div.line
								|col
						div.col
							div.line
								|col



			+command("grid-gutter","scss","grid-gutter").
				$grid-gutter: 40px;
			+command("grid-gutter-outside","scss","grid-gutter-outside").
				$grid-gutter-outer: 5px;
			+command("grid-breakpoints","scss","grid-breakpoints").
				$grid-breakpoints:(
					"phone": 100% max 480px,
					"tablet": 100% min 481px max 768px,
					"tablet-large": 100% min 769px max 1023px,
					"desktop": 1024px min 1024px max 1199px,
					"desktop-large": 1200px min 1200px
				);
			+command("grid-row","scss","grid-row").
				@include grid-row($gutter: $grid-gutter-outside, $breakpoints: $grid-breakpoints);
			+command("grid-col","scss","grid-col").
				@include grid-col($col, $cols: 12, $gutter: $grid-gutter);
			+command("grid-col-breakpoint","scss","grid-col-breakpoint").
				@include grid-col-breakpoint($device, $col, $cols: 12, $gutter: false)
				or
				@include grid-col-breakpoint($device, $col, $cols: 12, $gutter: false){
					...
				};
			+command("grid-col-breakpoint-custom","scss","grid-col-breakpoint-custom").
				@include grid-col-breakpoint-custom($min-width, $max-width, $col, $cols: 12, $gutter: false)
				or
				@include grid-col-breakpoint-custom($min-width, $max-width, $col, $cols: 12, $gutter: false){
					...
				};
			+command("grid-breakpoint","scss","grid-breakpoint").
				@include grid-breakpoint($devices...){
					...
				};
			+command("grid-breakpoint-custom","scss","grid-breakpoint-custom").
				@include grid-breakpoint-custom($min-width, $max-width){
					...
				};
			+command("grid-breakpoint-hide","scss","grid-breakpoint-hide").
				@include grid-breakpoint-hide($devices...);
			+command("grid-breakpoint-show","scss","grid-breakpoint-show").
				@include grid-breakpoint-show($devices...);
	article.theme
		+title("Theme")
		div.container
			+command("theme-colors","scss","theme-colors").
				$theme-colors:(
					ocean:   #00a7ca,
					blue:    #0075d3,
					purple:  #8244a7,
					pink:    #dd318a,
					green:   #71be48,
					yellow:  #f59d37,
					orange:  #f75925,
					red:     #dd202b,
					dark:    #1c2731,
					gray:    #606c78,
					silver:  #939fac
				);
			+command("theme-color","scss","theme-color").
				theme-color ($color-name, $amount:50%);
