extends /_layouts/_docs
block link
	-var selected = 'Core';
block sidebar
	include /_includes/_docs_sidebar_core
block content
	article.grid
		+title("Grid")
		div.container

			div.exemple-grid
				|document
				div.viewport
					|row
					div.row
						div.col
							div.line
								|col
						div.col
							div.line
								|col
						div.col
							div.line
								|col
						div.col
							div.line
								|col



			+command("grid-gutter","scss","grid-gutter").
				$grid-gutter: 40px;
			+command("grid-gutter-outside","scss","grid-gutter-outside").
				$grid-gutter-outer: 5px;
			+command("grid-breakpoints","scss","grid-breakpoints") $grid-breakpoints:(
				|phone: 100% max 480px,
				|tablet: 100% min 481px max 768px,
				|tablet-large: 100% min 769px max 1024px,
				|desktop: 1024px min 1024px max 1199px,
				|desktop-large: 1200px min 1200px
				|);
			+command("grid-row","scss","grid-row").
				@include grid-row($gutter: $grid-gutter-outside, $breakpoints: $grid-breakpoints);
			+command("grid-col","scss","grid-col").
				@include grid-col($col, $cols: 12, $gutter: $grid-gutter);
			+command("grid-col-breakpoint","scss","grid-col-breakpoint").
				@include grid-col-breakpoint($device, $col, $cols: 12, $gutter: false)
				or
				@include grid-col-breakpoint($device, $col, $cols: 12, $gutter: false){
					...
				};
			+command("grid-breakpoint","scss","grid-breakpoint").
				@include grid-breakpoint($devices...){
					...
				};
			+command("grid-breakpoint-hide","scss","grid-breakpoint-hide").
				@include grid-breakpoint-hide($devices...);
			+command("grid-breakpoint-show","scss","grid-breakpoint-show").
				@include grid-breakpoint-show($devices...);
	article.theme
		+title("Theme")
		div.container
			+command("theme-colors","scss","theme-colors").
				/* 1 = background */
				/* 2 = foreground */
				/* 3 = background-hover */
				/* 4 = foreground-hover */

				$theme-colors:(
				ocean #00a7ca #a4d6e5 #52cbf2 #d5f0fb
				blue #0075d3 #a4c2e9 #2c8bee #d0e0f9,
				purple #8244a7 #c7b1d6 #9e5dc1 #e4d7ed,
				pink #dd318a #f0adca #ff52a1 #ffd5e6,
				green #71be48 #c1e0b3 #87d873 #e1f4d8,
				yellow #f59d37 #fad2aa #ffb950 #ffebd3,
				orange #f75925 #fbb8a7 #ff7439 #ffdbd0,
				red #dd202b #f0a9ab #fe4542 #ffd3d2,
				dark #1c2731 #a8abac #313d48 #d0d2d4,
				grey #606c78 #bbbfc2 #798591 #dddfe2,
				silver #939fac #ced3d8 #b4c0cc #eaedf0;
				)

			+command("theme-color","scss","theme-color").
				theme-color ($color-name, $color-status:false);
			+command("theme","scss","theme").
				@include theme ($color-name, $background-property:background-color, $foreground-property:color, $state:false);
