include /_mixins/_title
include /_mixins/_subtitle
include /_mixins/_command

extends _default

block style
	// build:css /assets/styles/docs.css
	link(rel='stylesheet', href='/assets/styles/docs.css')
	// endbuild

block script
	script(src='/assets/scripts/libs/prism.js')

block body
	block link
		-var selected = 'Start';
	-var menu = { 'Start': '/docs', 'Sass': '/docs/sass'};
	include /_includes/_docs_top
	div.docs-main
		block sidebar
		div.docs-content
			block content
