include /_mixins/_title
include /_mixins/_subtitle
include /_mixins/_command

block style
	// build:css /assets/styles/home.css
	link(rel='stylesheet', href='/assets/styles/home.css')
	// endbuild

extends _default
block body
	block content
	
