div.docs-sidebar
        div.container
            div.tree
                div.group
                    a.title Grid
                    ul.itens
                        li.item
                            a(href="/docs/core/#grid-gutter").link grid-gutter
                        li.item
                            a(href="/docs/core/#grid-gutter-outside").link grid-gutter-outside
                        li.item
                            a(href="/docs/core/#grid-breakpoints").link grid-breakpoints
                        li.item
                            a(href="/docs/core/#grid-row").link grid-row
                        li.item
                            a(href="/docs/core/#grid-col").link grid-col
                        li.item
                            a(href="/docs/core/#grid-col-breakpoint").link grid-col-breakpoint
                        li.item
                            a(href="/docs/core/#grid-col-breakpoint-custom").link grid-col-breakpoint-custom
                        li.item
                            a(href="/docs/core/#grid-breakpoint").link grid-breakpoint
                        li.item
                            a(href="/docs/core/#grid-breakpoint-custom").link grid-breakpoint-custom
                        li.item
                            a(href="/docs/core/#grid-breakpoint-hide").link grid-breakpoint-hide
                        li.item
                            a(href="/docs/core/#grid-breakpoint-show").link grid-breakpoint-show
                div.group
                    a.title Theme
                    ul.itens
                        li.item
                            a(href="/docs/core/#theme-colors").link theme-colors
                        li.item
                            a(href="/docs/core/#theme-color").link theme-color
