div.docs-sidebar
        div.search
            input(type="search",placeholder="Search")
        div.container
            div.tree
                div.group
                    a.title Grid
                    ul.itens
                        li.item
                            a(href="/docs/core/#grid-gutter").link grid-gutter 
                        li.item
                            a(href="/docs/core/#grid-gutter-outside").link grid-gutter-outside
                        li.item
                            a(href="/docs/core/#grid-breakpoints").link grid-breakpoints
                        li.item
                            a(href="/docs/core/#grid-row").link grid-row
                        li.item
                            a(href="/docs/core/#grid-col").link grid-col
                        li.item
                            a(href="/docs/core/#grid-col-breakpoint").link grid-col-breakpoint
                        li.item
                            a(href="/docs/core/#grid-col-breakpoint-custom").link grid-col-breakpoint-custom
                        li.item
                            a(href="/docs/core/#grid-breakpoint").link grid-breakpoint
                        li.item
                            a(href="/docs/core/#grid-breakpoint-custom").link grid-breakpoint-custom
                        li.item
                            a(href="/docs/core/#grid-breakpoint-hide").link grid-breakpoint-hide
                        li.item
                            a(href="/docs/core/#grid-breakpoint-show").link grid-breakpoint-show
                div.group
                    a.title Color
                    ul.itens
                        li.item
                            a(href="/docs/core/#theme-colors").link colors
                        li.item
                            a(href="/docs/core/#theme-color").link color
                div.group
                    a.title Animations
                    ul.itens
                        li.item
                            a(href="/docs/core/#animation-duration").link animation-duration
                        li.item
                            a(href="/docs/core/#animation-ease").link animation-ease
                        li.item
                            a(href="/docs/core/#animation-ease").link animation-ease
                div.group
                    a.title Utils
                    ul.itens
                        li.item
                            a(href="/docs/core/#clearfix").link clearfix
                        li.item
                            a(href="/docs/core/#box-shadow").link theme-color
