div.docs-sidebar
        div.container
            div.tree
                div.group
                    a.title Dependencies
                    ul.itens
                        li.item
                            a(href="/docs/#node").link Node
                        li.item
                            a(href="/docs/#gulp").link Gulp
                div.group
                    a.title Install
                    ul.itens
                        li.item
                            a(href="/docs/#clone").link Clone
                        li.item
                            a(href="/docs/#npm").link install
                div.group
                    a.title Run
                    ul.itens
                        li.item
                            a(href="/docs/#watch").link Watch
                        li.item
                            a(href="/docs/#build").link Build
                div.group
                    a.title Tools
                    ul.itens
                        li.item
                            a(href="/docs/#atom-snippets").link Atom snippets
