div.docs-sidebar
        div.search
            input(type="search",placeholder="Search")
        div.container
            div.tree
                div.group
                    a.title Setup
                    ul.itens
                        li.item
                            a(href="/docs/sass/#import").link Import
                        li.item
                            a(href="/docs/sass/#settings").link Settings
                        li.item
                            a(href="/docs/sass/#reset").link Reset
                div.group
                    a.title Grid
                    ul.itens
                        li.item
                            a(href="/docs/sass/#grid-gutter").link grid-gutter 
                        li.item
                            a(href="/docs/sass/#grid-gutter-outside").link grid-gutter-outside
                        li.item
                            a(href="/docs/sass/#grid-breakpoints").link grid-breakpoints
                        li.item
                            a(href="/docs/sass/#grid-row").link grid-row
                        li.item
                            a(href="/docs/sass/#grid-column").link grid-column
                        li.item
                            a(href="/docs/sass/#grid-column-breakpoint").link grid-column-breakpoint
                        li.item
                            a(href="/docs/sass/#grid-breakpoint").link grid-breakpoint
                        li.item
                            a(href="/docs/sass/#grid-breakpoint-hide").link grid-breakpoint-hide
                        li.item
                            a(href="/docs/sass/#grid-breakpoint-show").link grid-breakpoint-show
                div.group
                    a.title Color
                    ul.itens
                        li.item
                            a(href="/docs/sass/#colors").link colors
                        li.item
                            a(href="/docs/sass/#color").link color
                div.group
                    a.title Animation
                    ul.itens
                        li.item
                            a(href="/docs/sass/#animation-duration").link animation-duration
                        li.item
                            a(href="/docs/sass/#animation-time-functions").link animation-time-functions
                        li.item
                            a(href="/docs/sass/#animation-time-function").link animation-time-function
                div.group
                    a.title Utils
                    ul.itens
                        li.item
                            a(href="/docs/sass/#clearfix").link clearfix
                        li.item
                            a(href="/docs/sass/#box-shadow").link box-shadow
